# Warach Changwatthanakul

## ER Diagram

In [1]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://raw.githubusercontent.com/warach7/SQL_HW/master/ER-DIAGRAM.png")

## สร้าง Database

In [2]:
import sqlite3

conn = sqlite3.connect('SQL_HW.db')
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS SENSORS (
    ID INTEGER PRIMARY KEY NOT NULL,
    Name CHAR(50) NOT NULL ,
    Location CHAR(50) NOT NULL 
);''')

conn.commit()
conn.execute('''
CREATE TABLE DATA (
    ID INTEGER NOT NULL
        CONSTRAINT fk_SENSORS_ID REFERENCES SENSORS(ID),
    DATETIME CHAR(50) NOT NULL,
    AQI REAL NOT NULL ,
    TEMP REAL NOT NULL
        
);''')


conn.commit()

print("Table created successfully");

Opened database successfully
Table created successfully

In [3]:
# INSERT SENSORS
conn.execute("INSERT INTO SENSORS(ID,Name,Location) VALUES(1,'BKK','Bangkok');")
conn.execute("INSERT INTO SENSORS(ID,Name,Location) VALUES(2,'CMI','Chiang-Mai');")
conn.execute("INSERT INTO SENSORS(ID,Name,Location) VALUES(3,'PKT','Phuket');")
conn.execute("INSERT INTO SENSORS(ID,Name,Location) VALUES(4,'UBN','Ubon-Ratchathani');")
conn.execute("INSERT INTO SENSORS(ID,Name,Location) VALUES(5,'LPT','Lampang');")

# 21/09/2020 08:00 DATA
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(1,'21/09/2020 08:00',87,30);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(2,'21/09/2020 08:00',41,25);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(3,'21/09/2020 08:00',89,28);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(4,'21/09/2020 08:00',46,27);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(5,'21/09/2020 08:00',42,26);")

# 21/09/2020 09:00 DATA
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(1,'21/09/2020 09:00',70,30);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(2,'21/09/2020 09:00',41,26);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(3,'21/09/2020 09:00',78,28);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(4,'21/09/2020 09:00',46,27);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(5,'21/09/2020 09:00',42,25);")

# 21/09/2020 10:00 DATA
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(1,'21/09/2020 10:00',90,30);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(2,'21/09/2020 10:00',41,28);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(3,'21/09/2020 10:00',68,27);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(4,'21/09/2020 10:00',46,27);")
conn.execute("INSERT INTO DATA(ID,DATETIME,AQI,TEMP) VALUES(5,'21/09/2020 10:00',50,25);")

## ทดลอง query

In [4]:
for row in conn.execute("select * from SENSORS"):
  print(row)

(1, 'BKK', 'Bangkok')
(2, 'CMI', 'Chiang-Mai')
(3, 'PKT', 'Phuket')
(4, 'UBN', 'Ubon-Ratchathani')
(5, 'LPT', 'Lampang')

In [5]:
for row in conn.execute("select * from DATA"):
  print(row)

(1, '21/09/2020 08:00', 87.0, 30.0)
(2, '21/09/2020 08:00', 41.0, 25.0)
(3, '21/09/2020 08:00', 89.0, 28.0)
(4, '21/09/2020 08:00', 46.0, 27.0)
(5, '21/09/2020 08:00', 42.0, 26.0)
(1, '21/09/2020 09:00', 70.0, 30.0)
(2, '21/09/2020 09:00', 41.0, 26.0)
(3, '21/09/2020 09:00', 78.0, 28.0)
(4, '21/09/2020 09:00', 46.0, 27.0)
(5, '21/09/2020 09:00', 42.0, 25.0)
(1, '21/09/2020 10:00', 90.0, 30.0)
(2, '21/09/2020 10:00', 41.0, 28.0)
(3, '21/09/2020 10:00', 68.0, 27.0)
(4, '21/09/2020 10:00', 46.0, 27.0)
(5, '21/09/2020 10:00', 50.0, 25.0)

## เลือกตารางเชื่อมกัน

In [6]:
conn.execute("select d.ID,d.DATETIME,d.AQI,d.TEMP,s.Name,s.Location from Data d, SENSORS s where d.ID=s.ID").fetchall()

[(1, '21/09/2020 08:00', 87.0, 30.0, 'BKK', 'Bangkok'),
 (2, '21/09/2020 08:00', 41.0, 25.0, 'CMI', 'Chiang-Mai'),
 (3, '21/09/2020 08:00', 89.0, 28.0, 'PKT', 'Phuket'),
 (4, '21/09/2020 08:00', 46.0, 27.0, 'UBN', 'Ubon-Ratchathani'),
 (5, '21/09/2020 08:00', 42.0, 26.0, 'LPT', 'Lampang'),
 (1, '21/09/2020 09:00', 70.0, 30.0, 'BKK', 'Bangkok'),
 (2, '21/09/2020 09:00', 41.0, 26.0, 'CMI', 'Chiang-Mai'),
 (3, '21/09/2020 09:00', 78.0, 28.0, 'PKT', 'Phuket'),
 (4, '21/09/2020 09:00', 46.0, 27.0, 'UBN', 'Ubon-Ratchathani'),
 (5, '21/09/2020 09:00', 42.0, 25.0, 'LPT', 'Lampang'),
 (1, '21/09/2020 10:00', 90.0, 30.0, 'BKK', 'Bangkok'),
 (2, '21/09/2020 10:00', 41.0, 28.0, 'CMI', 'Chiang-Mai'),
 (3, '21/09/2020 10:00', 68.0, 27.0, 'PKT', 'Phuket'),
 (4, '21/09/2020 10:00', 46.0, 27.0, 'UBN', 'Ubon-Ratchathani'),
 (5, '21/09/2020 10:00', 50.0, 25.0, 'LPT', 'Lampang')]

## นำข้อมูลที่ได้จากการ query ไปใส่ไว้ใน dataframe ของ pandas

In [7]:
import pandas as pd

In [8]:
SENSORS = pd.read_sql_query("SELECT * from SENSORS",conn)
SENSORS

   ID Name          Location
0   1  BKK           Bangkok
1   2  CMI        Chiang-Mai
2   3  PKT            Phuket
3   4  UBN  Ubon-Ratchathani
4   5  LPT           Lampang

In [9]:
DATA = pd.read_sql_query("SELECT * from Data",conn)
DATA

    ID          DATETIME   AQI  TEMP
0    1  21/09/2020 08:00  87.0  30.0
1    2  21/09/2020 08:00  41.0  25.0
2    3  21/09/2020 08:00  89.0  28.0
3    4  21/09/2020 08:00  46.0  27.0
4    5  21/09/2020 08:00  42.0  26.0
5    1  21/09/2020 09:00  70.0  30.0
6    2  21/09/2020 09:00  41.0  26.0
7    3  21/09/2020 09:00  78.0  28.0
8    4  21/09/2020 09:00  46.0  27.0
9    5  21/09/2020 09:00  42.0  25.0
10   1  21/09/2020 10:00  90.0  30.0
11   2  21/09/2020 10:00  41.0  28.0
12   3  21/09/2020 10:00  68.0  27.0
13   4  21/09/2020 10:00  46.0  27.0
14   5  21/09/2020 10:00  50.0  25.0

## เชื่อมตารางและแสดงผลด้วย pandas

In [10]:
dataframe = pd.merge(DATA, SENSORS, on = 'ID')
dataframe

    ID          DATETIME   AQI  TEMP Name          Location
0    1  21/09/2020 08:00  87.0  30.0  BKK           Bangkok
1    1  21/09/2020 09:00  70.0  30.0  BKK           Bangkok
2    1  21/09/2020 10:00  90.0  30.0  BKK           Bangkok
3    2  21/09/2020 08:00  41.0  25.0  CMI        Chiang-Mai
4    2  21/09/2020 09:00  41.0  26.0  CMI        Chiang-Mai
5    2  21/09/2020 10:00  41.0  28.0  CMI        Chiang-Mai
6    3  21/09/2020 08:00  89.0  28.0  PKT            Phuket
7    3  21/09/2020 09:00  78.0  28.0  PKT            Phuket
8    3  21/09/2020 10:00  68.0  27.0  PKT            Phuket
9    4  21/09/2020 08:00  46.0  27.0  UBN  Ubon-Ratchathani
10   4  21/09/2020 09:00  46.0  27.0  UBN  Ubon-Ratchathani
11   4  21/09/2020 10:00  46.0  27.0  UBN  Ubon-Ratchathani
12   5  21/09/2020 08:00  42.0  26.0  LPT           Lampang
13   5  21/09/2020 09:00  42.0  25.0  LPT           Lampang
14   5  21/09/2020 10:00  50.0  25.0  LPT           Lampang